html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    line-height: 24px;
}

#navbar {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 300px; 
    border-right: 1px solid gray;
    min-width: 295px;
    overflow-y: auto;
    background-color: #f4f4f4;
}

#navbar header {
    font-size: 1.5em;
    margin: 30px;
    font-size: 1.8rem;
}

#navbar ul {
    list-style-type: none;
    display: block;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

#navbar li {
    position: relative;
    display: list-item;
    border-top: 1px solid gray;
}



#navbar .nav-link {
    box-sizing: border-box;
    text-decoration: none;
    color: #333;
    font-size: 1rem;
    padding: 13px 30px 13px 30px;
    display: block;
    height: auto;
    width: auto;
}

#navbar .nav-link:hover {
    color: red;
}

#main-doc {
    margin-left: 19.37rem; 
    padding: 20px;
    position: absolute;
    display: block;

}


.main-section {
    margin-bottom: 40px;
}

.main-section header {
    font-size: 2em;
    margin-bottom: 20px;
}

.main-section p {
    margin: 15px 0;
    line-height: 25px;
}

.main-section code {
    display: block;
    background: #f4f4f4;
    padding: 15px;
    border-radius: 5px;
    font-size: 0.9em;
    margin: 10px;
}

.main-section ul {
    margin: 20px ;
}

.main-section li {
    margin-bottom: 20px;
    line-height: 20px;
}

article {
    padding: 0px 0.93rem;
    margin: 15px;
}

@media only screen and (max-width: 815px) {
    #navbar ul {
      border: 1px solid;
      height: 300px;
    }
  
    #navbar {
      width: 100%;
      max-height: 275px;
      background-color: #f4f4f4;
      padding: 0;
      margin: 0;
      margin-bottom: 50px;
      border: none;
      position: absolute;
      border-bottom: 1px solid;
      border-top: 1px solid;
    }

    
    #main-doc {
      position: relative;
      margin-left: 10px;
      margin-right: 10px;
      margin-top: 270px;
    }
  }
  
  @media only screen and (max-width: 400px) {
    #main-doc {
      margin-left: -10px;
    }
    code {
      margin-left: -20px;
      width: 100%;
      padding: 15px;
      padding-left: 10px;
      padding-right: 45px;
      min-width: 233px;
    }
    #main-doc header{
        margin-left: 30px;
        line-height: 2rem;
    }

    a{
        margin-left: 10px;
    }
    #navbar header{
        padding-left: 10px;
    }
  }
  
 